<% provide(:title, "ユーザー一覧") %>

<div class="container">
  
  
<h1>
  <%= params[:search].nil? ? "ユーザ一覧" : "検索結果" %>
</h1>

<div class="name-search">
  <p>ユーザー検索</p>
  <%= form_tag( users_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', name: nil %>
  <% end %>
</div>

<%= form_with(url: import_users_path, multipart: true) do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "CSVをインポート", class: "btn btn-primary" %>
<% end %>

 
<div class="container user-index">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <p><%= user.name %></p>
    <p><%= link_to "削除", user, data: { confirm: "削除してよろしいですか？"}, class: "btn btn-primary", method: :delete %></p>
  
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapse<%= user.id %>" 
          role="button" aria-expanded="false" aria-controls="collapse<% user.id %>">編集</a>
     
        <div class="collapse" id="collapse<%= user.id %>">
          <%= form_with( model: user, local: true) do |f| %>
          <%= f.label :name, class: "label-form" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :email, class: "label-form" %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.label :affiliation, "所属", class: "label-form" %>
          <%= f.text_field :affiliation, class: "form-control" %>
          <%= f.label :employee_number, "社員番号", class: "label-form" %>
          <%= f.number_field :employee_number, class: "form-control" %>
          <%= f.label :uid, "カードID", class: "label-form" %>
          <%= f.text_field :uid, class: "form-control" %>
          <%= f.label :password, class: "label-form" %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label :basic_time, class: "label-form" %>
          <%= f.time_field :basic_time, class: "form-control" %>
          <%= f.label :designated_work_start_time, "指定勤務開始時間", class: "label-form" %>
          <%= f.time_field :designated_work_start_time, class: "form-control" %>
          <%= f.label :designated_work_end_time, "指定勤務終了時間", class: "label_form" %>
          <%= f.time_field :designated_work_end_time, class: "form-control" %>
          <% end %>
        </div>
  <% end %>
</div>
<%= will_paginate %>


<!--
<div class="col-md-10 col-md-offset-1">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <% if current_user.admin %>
            <td><%= link_to user.name, user %></td>
          <% else %>
            <td><%= user.name %></td>
          <% end %>
          
          <td class="center"><%= user.department.present? ? @user.department : "未設定" %></td>
          
          <% if current_user.admin? %>
            <td class="center"><%= format_basic_info(user.work_time) %></td>
            <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <% end %>
          
          <td class="center">
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-success" %>
              <%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>-->

</div>
