<% provide(:title, "ユーザー一覧") %>

<div class="container">
  
  
<h1>
  <%= params[:search].nil? ? "ユーザ一覧" : "検索結果" %>
</h1>

<div class="name-search">
  <p>ユーザー検索</p>
  <%= form_tag( users_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', name: nil %>
  <% end %>
</div>

<%= form_with(url: import_users_path, multipart: true) do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "CSVをインポート", class: "btn btn-primary" %>
<% end %>

<%= will_paginate %>
<div class="container user-index">
  <% @users.each do |user| %>
    <p><%= user.name %></p>
    <% if !current_user.admin? %>
      <p><%= link_to "削除", user, data: { confirm: "削除してよろしいですか？"}, class: "btn btn-primary", method: :delete %></p>
    <% end %>
    <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapse<%= user.id %>" 
      role="button" aria-expanded="false" aria-controls="collapse<% user.id %>">編集</a>
    <div class="collapse" id="collapse<%= user.id %>">
      <%= form_with model: user, url: user_path(user.id), method: :patch, local: true do |f| %>
        <%= f.label :name, class: "label-form" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :email, class: "label-form" %>
        <%= f.email_field :email, class: "form-control" %>
        <%= f.label :affiliation, "所属", class: "label-form" %>
        <%= f.text_field :affiliation, class: "form-control" %>
        <%= f.label :employee_number, "社員番号", class: "label-form" %>
        <%= f.number_field :employee_number, class: "form-control" %>
        <%= f.label :uid, "カードID", class: "label-form" %>
        <%= f.text_field :uid, class: "form-control" %>
        <%= f.label :password, class: "label-form" %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label :password_confirmation, class: "label-form" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <%= f.label :basic_time, class: "label-form" %>
        <%= f.time_field :basic_time, class: "form-control" %>
        <%= f.label :designated_work_start_time, "指定勤務開始時間", class: "label-form" %>
        <%= f.time_field :designated_work_start_time, class: "form-control" %>
        <%= f.label :designated_work_end_time, "指定勤務終了時間", class: "label_form" %>
        <%= f.time_field :designated_work_end_time, class: "form-control" %>
        <%= f.submit "編集内容を更新", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  <% end %>
</div>
<%= will_paginate %>


</div>
