<% provide(:title, "拠点一覧") %>

<h1>拠点一覧</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>勤怠種類</th>
    </tr>
  </thead>
  <tbody>
    <% @bases.each do |b| %>
      <tr>
        <td><button type="button", class="btn btn-primary" data-toggle="modal" data-target="#modal<%= b.base_name %>">編集</button></td>
        <td><%= link_to "削除", b, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-primary" %></td>
        <td><%= b.base_number %></td>
        <td><%= b.base_name %></td>
        <td><%= b.work_type %></td>
      </tr>
      
      <div class="modal" id="modal<%= b.base_name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <h3 class="center">拠点情報の編集</h3>
          </div>
          <div class="modal-body">
            <%= form_with(model: b, method: :patch, local: true) do |f| %>
            <%= f.label :base_number, "拠点番号", class: "label-form" %>
            <%= f.number_field :base_number, class: "form-control" %>
            <%= f.label :base_name, "拠点名", class: "label-form" %>
            <%= f.text_field :base_name, class: "form-control" %>
            <%= f.label :work_type, "勤怠種類", class: "label-form" %>
            <%= f.text_field :work_type, class: "form-control" %>
            <%= f.submit "編集する", class: "btn btn-primary form-control" %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    
    
    <% end %>
  </tbody>
</table>
<a class="btn btn-lg btn-primary" href="#collapse" data-toggle="collapse" 
  role="button" aria-expanded="false" aria-controls="collapse">拠点情報追加</a>
  
<div class="collapse" id="collapse">
  <%= form_with(scope: :base, url: bases_path, local:true, method: :post) do |f| %>
  <%= f.label :base_number, class: "label-form" %>
  <%= f.number_field :base_number, class: "form-control" %>
  <%= f.label :base_name, class: "label-form" %>
  <%= f.text_field :base_name, class: "form-control" %>
  <%= f.label :work_type, class: "label-form" %>
  <%= f.text_field :work_type, class: "form-control" %>
  <%= f.submit "拠点情報追加", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>

      