<% provide(:title, "勤怠編集") %>

<h1>勤怠編集</h1>


<%= form_with(url: requests_path, local: true, method: :post) do |f| %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="center">日付</th>
        <th class="center">曜日</th>
        <th class="center">出社</th>
        <th class="center">退社</th>
        <th class="center">翌日</th>
        <th class="center">備考</th>
        <th class="center">指示者確認</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each_with_index do |day, index| %>
        <%= f.fields_for @request do |r| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
              <font color="red"><%= $week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 6 %>
              <font color="blue"><%= $week[day.worked_on.wday] %></font>
            <% else %>
              <%= $week[day.worked_on.wday] %>
            <% end %>
          </td>
          
          <% if !current_user.admin? && (Date.current < day.worked_on) %>
              <td><%= f.time_select :started_at, {include_blank: true, disabled: true} %></td>
              <td><%= f.time_select :finished_at, {include_blank: true , disabled: true} %></td>
              <td><%= %></td>
              <td><%= f.text_field :note, disabled: true, class: 'form-control' %></td>
              <td></td>
            <% else %>  
              <td><%= f.time_select "started_at[#{index}]", {include_blank: true, minute_step: 15} %></td>
              <td><%= f.time_select "finished_at[#{index}]",{include_blank: true, minute_step: 15} %></td>
              <td><%= f.check_box "change_date[#{index}]"%></td>
              <td><%= f.text_field "note[#{index}]", class: 'form-control' %></td>
              <td><%= f.select "superior[#{index}]", @users.where.not(id: @user.id).pluck(:name), include_blank: true %></td>
              <%= f.hidden_field "request_date[#{index}]", value: day.worked_on %>
              <%= r.hidden_field :category, value: 2 %>
              <%= r.hidden_field :applicant, value: params[:id] %>
            <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="center">
    <%= f.submit "編集を登録", class: "btn btn-primary btn-lg" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-default btn-lg" %>
  </div>
<% end %>
